<h1>Listing patients</h1>

<table>
  <tr>
    <th>Surname</th>
    <th>Name</th>
    <th>Patronymic</th>
    <th>Date of birth</th>
    <th>Grade</th>
    <th>District</th>
    <th>Address</th>
    <th>Orphan</th>
    <th>Disabled</th>
    <th>Father</th>
    <th>Mother</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.surname %></td>
    <td><%= patient.name %></td>
    <td><%= patient.patronymic %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.grade %></td>
    <td><%= patient.district %></td>
    <td><%= patient.address %></td>
    <td><%= patient.orphan %></td>
    <td><%= patient.disabled %></td>
    <td><%= patient.father %></td>
    <td><%= patient.mother %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
