<%= form_for(@examination) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :education_type %><br />
    <%= f.text_field :education_type %>
  </div>
  <div class="field">
    <%= f.label :education_form %><br />
    <%= f.text_field :education_form %>
  </div>
  <div class="field">
    <%= f.label :education_route %><br />
    <%= f.text_field :education_route %>
  </div>
  <div class="field">
    <%= f.label :initiator %><br />
    <%= f.text_field :initiator %>
  </div>
  <div class="field">
    <%= f.label :common_iq %><br />
    <%= f.number_field :common_iq %>
  </div>
  <div class="field">
    <%= f.label :nonverbal_iq %><br />
    <%= f.number_field :nonverbal_iq %>
  </div>
  <div class="field">
    <%= f.label :verbal_iq %><br />
    <%= f.number_field :verbal_iq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
