<h1>Listing examinations</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Date</th>
    <th>Grade</th>
    <th>Education type</th>
    <th>Education form</th>
    <th>Education route</th>
    <th>Initiator</th>
    <th>Common iq</th>
    <th>Nonverbal iq</th>
    <th>Verbal iq</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @examinations.each do |examination| %>
  <tr>
    <td><%= examination.patient %></td>
    <td><%= examination.date %></td>
    <td><%= examination.grade %></td>
    <td><%= examination.education_type %></td>
    <td><%= examination.education_form %></td>
    <td><%= examination.education_route %></td>
    <td><%= examination.initiator %></td>
    <td><%= examination.common_iq %></td>
    <td><%= examination.nonverbal_iq %></td>
    <td><%= examination.verbal_iq %></td>
    <td><%= link_to 'Show', examination %></td>
    <td><%= link_to 'Edit', edit_examination_path(examination) %></td>
    <td><%= link_to 'Destroy', examination, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Examination', new_examination_path %>
